.page-content .sign-up {
    margin: 5%;
    border: solid 2px #373867;
    border-radius: 15px;
    box-shadow: 3px 4px 8px #373867;
    text-align: center;
}

.page-content h2 {
    margin-bottom: 20px;
    padding: 15px 0;
    background-color: #AACE9B;
    border-radius: 15px 15px 0 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #373867;
    text-transform: uppercase;
}

.form-container {
   flex:45;
   margin: 0 47px 0 30px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
}

.sign-up-form label {
    display: block;
    padding-bottom: 3px;
    text-align: justify;
    font-weight: 500;
    font-size: 14px;
}

.sign-up-form input {
    font-family: 'Roboto';
    padding: 4px 6px;
    width: 100%;
    height: 25px;
    border: 0.5px solid #373867;
    border-radius: 3px;
    color: #373867;
}

.sign-up-form input::placeholder {
    font-weight: 400;
    font-size: 12px;
    color: #373867;
    opacity: 0.5;
}

.sign-up-btn button {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 14px 56px;
    background: #AACE9B;
    border-radius: 3.7px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #373867;
}

.sign-up-form a, .sign-up-form p {
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
    opacity: 0.9;
}

.sign-up-form p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: justify;
    color: #F33413;
}

.status-control p {
    visibility: hidden;
}

.status-control.error input {
    border: solid 1px #F33413;
}

.status-control.error p {
    visibility: visible;
}

.status-control.error label, .status-control.error input {
    color: #F33413;
}

.sign-up a {
    display: block;
    text-decoration: none;
}
