body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #373867;
}

p, label, span {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

button, textarea {
    font-family: 'Roboto';
}

#myModal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #FFFFFF;
    padding: 5px;
    width: 70%;
    margin: 3% auto;
    animation-name: animatetop;
    animation-duration: 0.4s;
    box-shadow: 0px 3px 5px #373867;
    border-radius: 5px;
}

.close {
    padding-top: 2px;
    float: right;
}

.close img:hover, .close img:focus {
    transform: scale(1.35);
    transition: transform .35s ease;
    cursor: pointer;
}

.modal-content h2, .modal-content p {
    font-family: 'Roboto';
    margin-right: 30px;
    padding: 8px;
    font-size: 14px;
    line-height: 16px;
}

.modal-content h2 {
    font-weight: 700;
}

.modal-content p {
    text-align:left ;
    opacity: 0.8;
    font-weight: 500;
}

/* Add Animation */
@keyframes animatetop {
from {top: -300px; opacity: 0}
to {top: 0; opacity: 1}
}

@media only screen and (min-width: 768px) {

    h1 {
        border-bottom: 5px solid #373867;
        font-size: 60px;
        text-align: justify;
        line-height: 70px;
    }

    .modal-content {
        width: 50%;
    }

    .page-content h3 {
        margin: 0 6%;
        border-bottom: 5px solid #373867;
        text-align: justify;
    }

    #home-page {
        margin-right: 6%;
        margin-left: 6%;
    }

    #home-page div {
        text-align: justify;
    }

    #home-page > div, #why-trackgenix > div {
        flex-direction: row;
    }

    .app-text, .history-info img {
        margin-right: 6%;
    }

    #why-trackgenix .text, #why-trackgenix img {
        max-width: 40%;
    }

    .history-info img, .container:nth-child(odd) .text {
        order: unset;
    }
    
    .history-text a, #why-trackgenix a {
        font-size: 12px;
    }

    .history-text a {
        margin: 13px 0;
        text-align: center;
    }

    #contact-us form {
        margin: 3% 0 3% 6%;
        width: 40%;
    }
    
    #contact-us label {
        font-size: 16px;
    }

    #listed-elements h3 {
        display: block;
    }

    #listed-elements div {
        margin-top: 70px;
    }

    #listed-elements div ol, #listed-elements h4 {
        font-size: 15px;
    }

    .page-content .sign-up-form {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1024px) {

    header, footer, .page-content, #listed-elements {
        margin-left: 25%;
    }

    nav {
        display: inline;
    }

    .modal-content {    
        margin-left: 47.5%;
        width: 30%;
    }
}