<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/landing.css">
        <link rel="stylesheet" href="../styles/sidebar.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/styles.css">
        <title>Trackgenix</title>
    </head>
    <body>
        <header id="main-header">
            <h1>Trackgenix SA</h1>
        </header>
        <nav>
            <div class="nav-header">
                <input type="search" placeholder="Search">
                <a class="log-in" href="login.html">
                    Log in
                </a>
                <a class="sign-up" href="employee-signup.html">
                    Sign up
                </a>
            </div>
            <div class="menu">
                <h2>Menu</h2>
                <ul>
                    <li>
                        <a href="index.html">HomePage</a>
                    </li>
                    <li>
                        <a href="index.html#features">Features</a>
                    </li>
                    <li>
                        <a href="index.html#why-trackgenix">Why Trackgenix?</a>
                    </li>
                    <li>
                        <a href="index.html#contact-us">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="get-in-touch">
                <h2>Get in touch</h2>
                <div>
                    <img src="../assets/icons/Icon-mail.png">
                    <p>
                        mailinfo@trackgenix.com
                    </p>
                </div>
                <div>
                    <img src="../assets/icons/Icon-arrow.png">
                    <p>
                        123-456789
                    </p>
                </div>
                <div class="last">
                    <img src="../assets/icons/Icon-home.png">
                    <p>
                        123 fake road #2000
                    </p>
                    <p>Rosario, Argentina</p>
                </div>
            </div>
        </nav>
        <div class="page-content">
            <section id="home-page">
                <div class="app-info">
                    <div class="app-text">
                        <h2>What is Trackgenix</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                    </div>
                    <img src="../assets/images/trackgenix-img.jpg" alt="Trackgenix">
                </div>
                <div class="history-info">
                    <img src="../assets/images/our-history-img.jpg" alt="Trackgenix">
                    <div class="history-text">
                        <h2>Our History</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                        <p>
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                            an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
            </section>
            <section id="features">
                <h3>Features</h3>
                <div class="text">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
                        an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    </p>
                </div>
                <div>
                    <ul>
                        <li>
                            <span>Item 1:</span>
                            lorem ipsum is simply dummy text of the printin
                        </li>
                        <li>
                            <span>Item 2:</span>
                            lorem ipsum is simply dummy text of the printin
                        </li>
                        <li>
                            <span>Item 3:</span>
                            lorem ipsum is simply dummy text of the printin
                        </li>
                        <li>
                            <span>Item 4:</span>
                            lorem ipsum is simply dummy text of the printin
                        </li>
                        <li>
                            <span>Item 5:</span>
                            lorem ipsum is simply dummy text of the printin
                        </li>
                    </ul>
                </div>
            </section>
            <section id="why-trackgenix">
                <h3>Why Trackgenix?</h3>
                <div class="container">
                    <img src="../assets/images/propertie-1-img.jpg" alt="Trackgenix">
                    <div class="text">
                        <h4>Subheader</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
                <div class="container">
                    <div class="text">
                        <h4>Subheader</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                    <img src="../assets/images/propertie-2-img.jpg" alt="Trackgenix">
                </div>
                <div class="container">
                    <img src="../assets/images/propertie-3-img.jpg" alt="Trackgenix">
                    <div class="text">
                        <h4>Subheader</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                </div>
                <div class="container">
                    <div class="text">
                        <h4>Subheader</h4>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                        </p>
                        <a href="#">Learn more</a>
                    </div>
                    <img src="../assets/images/propertie-4-img.jpg" alt="Trackgenix">
                </div>
            </section>
            <article id="contact-us">
                <h3>Contact us</h3>
                <form>
                    <div>
                        <label>Name</label>
                        <input type="text" placeholder="Insert your name">
                    </div>
                    <div>
                        <label>Email</label>
                        <input type="email" placeholder="Insert your email">
                    </div>
                    <div>
                        <label>Category</label>
                        <select name="Category">
                            <option value="Quality-Assurance">
                                Quality Assurance
                            </option>
                            <option value="Developer">
                                Developer
                            </option>
                            <option value="Project-Manager">
                                Project Manager
                            </option>
                            <option value="Human-Resourses">
                                Human Resourses
                            </option>
                        </select>
                    </div>
                    <div>
                        <textarea name="message" cols="30" rows="10" placeholder="Write us a message..."></textarea>
                    </div>
                    <div class="buttons">
                        <button class="btn-send">Send Message</button>
                        <button class="btn-reset">Reset</button>
                    </div>
                </form>
            </article>
        </div>
        <section id="listed-elements">
            <h3>Trackgenix</h3>
            <div>
                <h4>Products</h4>
                <ol>
                    <li>Features</li>
                    <li>Downloads</li>
                    <li>Integrations</li>
                    <li>Extras</li>
                </ol>
            </div>
            <div>
                <h4>Company</h4>
                <ol>
                    <li>About us</li>
                    <li>Clients</li>
                    <li>Resources</li>
                    <li>Blog</li>
                </ol>
            </div>
            <div>
                <h4>Support</h4>
                <ol>
                    <li>Help</li>
                    <li>Tutorials</li>
                    <li>API</li>
                    <li>Contact</li>
                </ol>
            </div>
        </section>
        <footer>
            <div class="social-media">
                <a href="https://twitter.com/" target="_blank">
                    <img src="../assets/icons/twitter-logo.png">
                </a>
                <a href="https://www.linkedin.com/" target="_blank">
                    <img src="../assets/icons/linkedin-logo.png">
                </a>
                <a href="https://github.com/" target="_blank">
                    <img src="../assets/icons/github-logo.png">
                </a>
                <a href="https://instagram.com/" target="_blank">
                    <img src="../assets/icons/instagram-logo.png">
                </a>
                <a href="https://facebook.com/" target="_blank">
                    <img src="../assets/icons/facebook-logo.png">
                </a>
            </div>
            <div>
                <p>Rosario, Argentina</p>
                <p>
                    Copyright &copy; 2022 Radium Rocket. All rights reserved.
                </p>
            </div>
        </footer>
    </body>
</html>