/*---- GENERAL ----*/
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #373867;
    overflow-x: hidden;
}

/*---- NAV / SIDEBAR ----*/
nav {
    position: fixed;
    height: 100%;
    background-color: #B1B2B6;
}

nav input {
    width: 230px;
    height: 40px;
    margin: 35px;
    padding: 5px 20px;
    background: #FFFFFF;
    background-image: url('../assets/icons/Icon-search.png');
    background-position: 180px;
    background-size: 38px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 3px;
    color: #373867;
}

nav input::placeholder {
    font-weight: 300;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #373867;
    opacity: 0.5;
}

.nav-buttons {
    width: fit-content;
    margin: 0px 48px;
}

.nav-buttons button {
    padding: 10px 27px;
    border-radius: 12px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}

button.log-in {
    background: #49A37B;
}

button.sign-up {
    background: #373867;
}

.menu, .get-in-touch {
    margin: 35px;
    font-weight: 500;
    font-size: 15px;
}

nav .header {
    padding-bottom: 8px;
    border-bottom: 1.5px solid #49A37B;
    text-transform: uppercase;
}

.menu ul, .get-in-touch p {
    padding-top: 16px;
}

.menu li {
    padding-top: 8px;
}

.menu li a {
    text-decoration: none;
}

a:visited, a:link {
    color: #373867;
}

.get-in-touch {
    margin-top: 270px;
}

.get-in-touch p:last-child {
    margin-left: 24px;
    padding-top: 4px;
}

.get-in-touch img {
    position: relative;
    top: 3px;
    height: 18px;
}

/*------ PAGE CONTENT + HEADER ------*/

.page-content {
    margin-left: 300px;
    padding: 70px 60px 0px 60px;
    width: 1020px;
}

h1, .page-content h3 {
    border-bottom: 5px solid #373867;
    color: #373867;
}

h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 85px;
}

.page-content h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    text-transform: uppercase;
}

/*------ HOMEPAGE SECTION ------*/

#homePage {
    margin: 35px 10px;
}

h2 {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    color: #49A37B;
}

#homePage img {
    border: 0.7px solid #373867;
    border-radius: 17px;
}

.app-text, .history-text {
    position: relative;
    bottom: 50px;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
}

.app-info img, .history-text {
    display: inline-block;
    width: 500px;
}

.history-info img, .app-text {
    display: inline-block;
    margin-right: 46px;
    width: 430px;
    height: 250px;
}

.history-info {
    margin-top: 50px;
}

.history-text button, #whyTrackgenix button {
    width: 80px;
    height: 26px;
    margin-top: 13px;
    background: #AACE9B;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 9px;
    color: #373867;
}

/*------ FEATURES SECTION ------*/

#features .text, #features ul {
    margin: 26px 0px 40px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
}

#features ul {
    position: relative;
    left: 70px;
    list-style: disc;
}

li > span {
    font-weight: 500;
}

/*------ WHY TRACKGENIX SECTION ------*/

#whyTrackgenix img {
    width: 400px;
    height: 170px;
    margin: 0px 55px;
    border: 0.7px solid #373867;
    border-radius: 17px;
    box-sizing: border-box;
    object-fit: cover;
}

#whyTrackgenix .text {
    display: inline-block;
    position: relative;
    bottom: 15px;
    margin: 0px 92px;
    width: 320px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

.text h4 {
    padding-bottom: 12px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.container, .container-pair {
    padding: 40px 0px;
}

.container-pair {
    border-bottom: 0.7px solid #373867;
    border-top: 0.7px solid #373867;
}

/*------ CONTACT US SECTION ------*/

#contactUs {
    margin: 80px 0px 65px 0px;
}

#contactUs div {
    margin: 30px 0px;
}

#contactUs label {
    display: block;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
}

#contactUs input, select {
    width: 277px;
    height: 38px;
    padding: 0px 15px;
    border: 0.7px solid #373867;
    border-radius: 3px;
    color: #373867;
}

textarea {
    padding: 15px;
    width: 340px;
    height: 150px;
    border: 0.7px solid #E0E0E0;
    border-radius: 3px;
    font-family: 'Roboto';
    color: #373867;
}

#contactUs input::placeholder, textarea::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #373867;
    opacity: 0.5;
}

.buttons button {
    padding: 14px 36px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #373867;
}

button.btn-send {
    margin-right: 35px;
    background: #AACE9B;
}

button.btn-reset {
    background: #DADADA;
}

/*------ LISTED ELEMENTS SECTION + FOOTER ------*/

#listedElements, footer {
    margin-left: 300px;
    width: 1140px;
}

#listedElements {
    background-color: #373867;
    color: #FFFFFF;
}

#listedElements h3 {
    padding: 60px 0px 16px 100px;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}

#listedElements div {
    display: inline-block;
    position: relative;
    left: 380px;
    width: 20%;
    margin-bottom: 36px;
}

#listedElements h4 {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 15px;
}

#listedElements ol {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

footer {
    margin-top: 18px;
    text-align: center;
}

.social-media a {
    padding: 0px 8px;
    text-decoration: none;
}

footer .text {
    margin: 12px 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}